#hero-img {
  margin-top: -2rem;
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 75% 0;
}

.heading {
  display: flex;
  flex-direction: column;
  margin: 9rem auto auto 9rem;
}

.heading h1 {
  font-family: "MuseoModerno", cursive;
  font-size: 3.5rem;
}

.heading h3 {
  font-family: "Play", sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 770px) {
  .heading h1 {
    font-size: 2rem;
    width: 50%;
    flex-wrap: wrap;
  }
  .heading h3 {
    font-size: 1rem;
    width: 50%;
    flex-wrap: wrap;
  }

  .heading {
    margin: 3rem 3rem 5rem 3rem;
  }

  #hero-img {
    height: 100vh;
    object-fit: cover;
    object-position: 75% 0;
  }
}
