.shop-box {
  background: rgb(255, 241, 0);
  background: linear-gradient(
    305deg,
    rgba(255, 241, 0, 1) 24%,
    rgba(255, 220, 0, 1) 65%
  );
  margin-top: -2rem;
  padding-top: 2rem;
}

.shop-container {
  display: flex;
}

@media only screen and (max-width: 684px) {
  .shop-container {
    justify-content: center;
  }
}

@media only screen and (max-width: 330px) {
  .shop-container {
    justify-content: center;
    display: inline;
  }
}
